*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #0099cc;
    color: white;
    position: top;
    height: 70px;
}

main {
    margin: 30px 0px 0px 40px;
}

footer {
    background-color: #0099cc;
    color: white;
    margin-top: 10px;
    padding: 25px;
}

.list1 {
    float: left;
    margin: 23px 0px 0px 30px;

}

h1 {
    float: left;
    font-size: 16pt;
    margin: 20px 25px 0px 20px;
}

h2 {
    font-size: 20pt;
    color: #0099cc;
}

h3 {
    font-weight: 400;
}

.list2 {
    margin-left: 20px;
}

ul {
    list-style-type: none;
}

.membership {
    background-color: white;
    border: 2px solid orange;
    border-radius: 15px;
    width: 140px;
    padding: 10px;
    color: orange;
    font-size: 11pt;
}

.instagram,
.facebook,
.youtube {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 120px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid grey;
    box-shadow: 2px 4px rgb(214, 210, 210);
    color: white;
    font-size: 14pt;
    font-weight: 600;
}

.instagram {
    background-color: #8080ff;
    padding-top: 13px;
    padding-left: 40px;
}
  
.facebook {
    background-color: #4267b2;
    margin-left: 20px;
    padding-top: 13px;
    padding-left: 40px;
}
  
.youtube {
    background-color: #ff0000;
    margin-left: 20px;
    padding-top: 13px;
    padding-left: 40px;
}